<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<p> <a onclick="placeOrder(); return false;">Buy Stuff</a></p>

<script> 
    FB.init({appId: 126581324089558, status: true, cookie: true});

    function placeOrder() {

      // Assign an internal ID that points to a database record
      var order_info = 'abc123';

      // calling the API ...
      var obj = {
        method: 'pay',
        order_info: order_info,
        purchase_type: 'item'
      };

      FB.ui(obj, callback);
    }
    
    var callback = function(data) {
      if (data['order_id']) {
        return true;
      } else {
        //handle errors here
        return false;
      }
    };

    function writeback(str) {
      document.getElementById('output').innerHTML=str;
    }
</script>

  <ul class="product-list clearfix">
    <% for product in @products do %>
      <li>
        <span class="price">
          <%= product.price %>
        </span>
        <%= link_to small_image(product), fbshow_path(:id => product.id) %>
        <h4>
          <%= product.name %>
        </h4>
      </li>
    <% end %>
  </ul>
