<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
  FB.init({
    appId  : '126581324089558',
    status : true, // check login status
    cookie : true, // enable cookies to allow the server to access the session
    xfbml  : true  // parse XFBML
  });
  FB.getLoginStatus(function(response) {
    if (response.session) {
      // logged in and connected user, someone you know
      alert(response.session);
    } else {
      // no user session available, someone you dont know
    }
  });
  function l(){
    FB.login(function(response) {
      if (response.session) {
        // user successfully logged in
      } else {
        // user cancelled login
      }
    });
    return false;
  }
  /*FB.api('/me', function(response) {
    alert(response.name);
  });*/
</script>
<a href="#" onclick="return l();">test</a>
  <ul class="product-list clearfix">
    <% for product in @products do %>
      <li>
        <span class="price">
          <%= product.price.to_fb %>
        </span>
        <%= link_to small_image(product), fbshow_path(:id => product.id) %>
        <h4>
          <%= product.name %>
        </h4>
      </li>
    <% end %>
  </ul>
